@model challenge.Models.TestModel

@{
    ViewBag.Title = "Test";
}

<div class="mycontainer">

<form action="" method="post" class="myform" style="width: 300px;">
    <input class="myform-control" type="text" name="name" placeholder="Name" /><br />
    <textarea class="myform-control" name="text" rows="6" placeholder="Type your text here"></textarea><br />
    <input class="myform-control" type="submit" value="Display">
</form>

@if(Model != null)
{
    <br /><br />
    <h4>Dear <span class="myname">@Model.Name</span>, this is your text:</h4>
    <p class="mytext">@Model.Text</p>
}

</div>
